{% extends 'base.html' %} {% block title %}Contact {% endblock title %}
 {% block body %}
<div class="container">
  <img
    src="https://wallpaperaccess.com/full/2489630.jpg"
    class="d-block w-100 mx-0"
    alt="..."
    height="500px"
  />
</div>

<div class="container text-center mb-3 py-4">
  <h3>Contact Us</h3>
  <form method="post" action="/contact/">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter your Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Your Email"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="phone"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Enter Your Phone Number"
      />
    </div>
    <div class="form-group">
      <label for="desc"
        >Tell me about you what you want to contact me for...</label
      >
      <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  {% endblock body %}
</div>
